	.Hintergrund {background-color:#b3b3ff;
					margin:100px;
					}
	
	
	.innerdiv { margin:50px 10px 50px 10px ;
	
	
	
	
								}
	
	#h1 {}

	
	
	#Navi { background-color:#b3b3ff;
	
			word-spacing: 20px;
			letter-spacing:3px;}

		
		
		
	#Footer {}
